@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Webvnue</h1>
    <p class="lead"><h1>@HttpContext.Current.User.Identity.Name</h1></p>
    <p><a href="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/19225946_1408309882568009_7467525160173180682_n.jpg?oh=0600ad627fab7ca18c2978037ff4c0d1&oe=5A3674F9" class="btn btn-primary btn-lg">Meet the Executive Leaders &raquo;</a></p>
    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/19225946_1408309882568009_7467525160173180682_n.jpg?oh=0600ad627fab7ca18c2978037ff4c0d1&oe=5A3674F9" />>
</div>